<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About pythonexplainedto.me</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About pythonexplainedto.me </h1>
    <p>I want you to learn as I learn, and hopefully we will improve our skills in python!</p>
    <h2>About Flask!</h2>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn.</p>
    {% endblock %}
  </body>
</html>